@import '../../styles/colors';
@import '../../styles/mixins';

.header {
  //background-color: rgba($menu, 0.5);
  padding-top: 5em;
  padding-bottom: 5em;
  width: 100%;
  &__container {
    font-size: 1.8em;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
